body{
	background-image:url('5.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0;
}

.navbar{
	font-family:lato;
	width:100%;
	background-color:#44BD49;
	overflow:auto;
}

.navbar a{
		font-family:lato;
		float:left;
		padding:12px;
		color:white;
		text-decoration:none;
		font-size:27px;
}

.navbar a:hover{
			backgroound-color:gray;
}

h1{
	color:Black;
	font-size:50px;
	margin-top:1%;
	padding-left:40%;
	font-family:lato;
}

h2{
	color:Black;
	padding-top:0.5%;
	font-family:lato;
	font-size:30px;
	padding-left:35%;
}

table{
	font-family: Lato;
	border-collapse:collapse;
	width:61.2%;
	text-align:center;
	margin-top:20px;
	margin-bottom:8%;
}	
	
th{
	font-size:20px;
	text-align:left;
	padding:10px;
	background-color:#6BBE30;
	text-style:none;
}

td{
	font-size:15px;
	text-align:left;
	padding:10px;
}

tr:nth-child(odd){
	background-color:#6BBE30;       /* work on odd data cell */
}

tr:nth-child(even){
	background-color:#CAE8F2;        /* work on even data cell */
}	
	
.footer{
	text-align:center;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:Purple;
	color:white;
}